
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  margin: 20px 10px 40px;
  text-align: left;
}

.header {
  margin: 10px;
  text-align: center;
}

.investBox, .loanBox {
  display: block;
  border: 1px solid black;
  margin: 10px auto;
  width: 500px;
}

.loanBox, .investBox {
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    background: white;
    border-radius: 5px;
}

.loanBox button {
  background: yellow;
  padding: 10px;
}

.details {
  display: block;
  float: left;
  width: 75%;
}

.content {
  margin: 10px;
  display: inline-block;
  width: 100%;
}

.totalAvailable {
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
}

span {
  font-weight: bold;
}

